/* Color pallete */

:root {
	--primary-color: #047aed;
	--main-back-color: #1c3fa8;
	--main-back-color-dark: #0d1117;
	--dark-color: #002240;
	--light-color: #f4f4f4;
	--all-black: #000000;
	--cool-color: #61daff;
	--error-color: #ff0800;
	--admin-color: rgb(255, 251, 23);
}

/* Text Sizes */

.standard {
	font-size: 20px;
}

.text-size-sm {
	font-size: 1rem;
}

.text-size-md {
	font-size: 2rem;
}

.text-size-lg {
	font-size: 3rem;
}

.text-size-xl {
	font-size: 4rem;
}

/* Text colors */

.text-primary {
	color: var(--primary-color);
}

.text-secondary {
	color: var(--secondary-color);
}

.text-dark {
	color: var(--dark-color);
}

.text-light {
	color: var(--light-color);
}

.text-cool {
	color: var(--cool-color);
}

/*  Background & colored buttons */

.bg-primary,
.btn-primary {
	background-color: var(--primary-color);
	color: #fff;
}

.bg-secondary,
.btn-secondary {
	background-color: var(--secondary-color);
	color: #fff;
}

.bg-dark,
.btn-dark {
	background-color: var(--dark-color);
	color: #fff;
}

.bg-light,
.btn-light {
	background-color: var(--light-color);
	color: #333;
}

.text-center {
	text-align: center;
}

.shadow {
	text-shadow: 2px 2px rgb(34, 33, 33);
}

/* Margin */

.my-1 {
	margin: 1rem 0;
}

.my-2 {
	margin: 1.5rem 0;
}

.my-3 {
	margin: 2rem 0;
}

.my-4 {
	margin: 3rem 0;
}

.my-5 {
	margin: 4rem 0;
}

.ml-1 {
	margin: 0 1rem;
}

.m-1 {
	margin: 1rem;
}

.m-2 {
	margin: 1.5rem;
}

.m-3 {
	margin: 2rem;
}

.m-4 {
	margin: 3rem;
}

.m-5 {
	margin: 4rem;
}

/* Padding */
.py-1 {
	padding: 1rem 0;
}

.py-2 {
	padding: 1.5rem 0;
}

.py-3 {
	padding: 2rem 0;
}

.py-4 {
	padding: 3rem 0;
}

.py-5 {
	padding: 4rem 0;
}

.p-1 {
	padding: 1rem;
}

.p-2 {
	padding: 1.5rem;
}

.p-3 {
	padding: 2rem;
}

.p-4 {
	padding: 3rem;
}

.p-5 {
	padding: 4rem;
}

/* Misc. */

.modal-inline {
	display: inline;
}

.base-z-index {
	z-index: 1;
}
